rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      // Allow user creation (signup) by anyone.
      allow create: if true;
      
      // Once created, only the authenticated user can read or update their own document.
      allow read, update: if request.auth != null && request.auth.uid == userId;

      match /messages/{messageId} {
        // A logged-in user can create a message in their own 'messages' subcollection.
        allow create: if request.auth != null && request.auth.uid == userId;
        allow read, update, delete: if false;
      }
    }

    // Allow any guest user to create a message in the guestMessages collection.
    match /guestMessages/{messageId} {
      allow create: if true;
      allow read, update, delete: if false;
    }
    
    // Allow any guest user to create a message in the messages collection.
    match /messages/{messageId} {
      allow create: if true;
      allow read, update, delete: if false;
    }
  }
}